body {
    margin: 0;
    margin-bottom: 60px;
    background: #cccccc;
    text-align: center;
    font-family: "Arial";
    color: #660080;
}

header {
    background: #330070;
    color: #D991C2;
    font-family: "Arial";
    padding: 10px 0 0 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}


nav ul li {
    background: #D991C2;
    color: #660080;
    display: inline-block;
    list-style-type: none;
    padding: 5px 15px;
    margin: 0 5px;
    /*
	padding t r b l
	padding tb lr
	*/
}


nav ul li a {
    color: #330070;
}

#current {
    background: white;
    padding: 6px 20px;
}

#contentDiv {
    height: 100%;
}

#clockbox {
    padding: 5px;
}

footer {
    background: #330070;
    position: fixed;
    width: 100%;
    bottom: 0;
    color: #D991C2;
    font-family: "Arial";
    padding: 10px;
    text-align: center;
}
